.nx-commons-fsdialog {
  padding: 10px 7px 0px 7px;
}
.nx-commons-fsdialog .nx-commons-fsdialog-navigator {
  overflow: auto;
  height: 300px;
  border: thin;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 5px;
  background-color: white;
}
.nx-commons-fsdialog .nx-commons-fsdialog-navigator .tree-node:hover {
  background-color: #eeeeff;
}
.nx-commons-fsdialog .nx-commons-fsdialog-navigator .tree-node a:hover {
  text-decoration: none;
}
.nx-commons-fsdialog .nx-commons-fsdialog-toolbar a.selected img {
  border-width: 2px;
}
.nx-commons-fsdialog .nx-commons-fsdialog-toolbar {
  float: left;
}
.nx-commons-fsdialog .nx-commons-fsdialog-toolbar a {
  width: 120px;
  margin-bottom: 5px;
  text-align: left;
}
.nx-commons-fsdialog .nx-commons-fsdialog-loading {
  float:right;
  display: none;
  font-size: 12px;
  padding: 10px 5px 0px 0px;
  font-weight: bold;
}